/* stylelint-disable declaration-no-important */
@layer reset {
	* {
		padding: 0;
		margin: 0;
		font: inherit;
	}

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	body {
		min-height: 100dvh;
		min-block-size: 100dvh;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-wrap: balance;
	}

	p {
		text-wrap: pretty;
	}

	figure,
	picture {
		display: flex;
	}

	img {
		height: 100%;
		block-size: 100%;
		width: 100%;
		inline-size: 100%;
	}

	img,
	video,
	svg {
		height: auto;
		block-size: auto;
		max-width: 100%;
		max-inline-size: 100%;
		vertical-align: middle;
	}

	li {
		list-style: none;
	}

	button {
		border: none;
		background: none;
		cursor: pointer;
	}

	input[type="text"],
	select,
	textarea {
		outline: none;
	}

	textarea {
		/* stylelint-disable-next-line property-no-unknown */
		field-sizing: content;
	}

	@media (prefers-reduced-motion: reduce) {
		*,
		*::before,
		*::after {
			scroll-behavior: auto !important;
			transition: none;
			transition-duration: 0.01ms !important;
			animation-duration: 0.01ms !important;
			animation-iteration-count: 1 !important;
		}
	}
}
