.animation-reveal {
	animation-name: reveal;
	animation-timing-function: linear;
	animation-fill-mode: both;
	animation-timeline: view();
	animation-range: entry 6% cover 22%;
}

.animation-fade-in-right {
	animation-name: fade-in-right;
	animation-timing-function: linear;
	animation-fill-mode: both;
	animation-timeline: view();
	animation-range: entry 6% cover 22%;
}

.animation-fade-in-left {
	animation-name: fade-in-left;
	animation-timing-function: linear;
	animation-fill-mode: both;
	animation-timeline: view();
	animation-range: entry 6% cover 22%;
}

@keyframes reveal {
	from {
		transform: translateY(10rem);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes fade-in-right {
	from {
		transform: translateX(10rem);
		opacity: 0;
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes fade-in-left {
	from {
		transform: translateX(-10rem);
		opacity: 0;
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}
